<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} • {{ end }}{{ .Site.Title }}</title>
	<meta name="description" content="{{ .Params.description }}">
	<meta name="keywords" content="{{ .Params.keywords }}">

	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:description" content="{{ .Params.description }}">
	<meta property="og:image" content="{{ .Params.image }}">

	{{ $css := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $css.RelPermalink }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css">

	<link rel="icon" href="/assets/images/favicon.ico">
</head>

<body>
	<header>
		<nav>
			<a class="logo" href="/">
				<img src="/assets/images/logo.svg" alt="Логотип Хаостади" width="57.5">
				Хаостади
			</a>
			<ul class="main-menu">
				<li>
					<a class="menu-item" href="/grants/">Образование</a>
				</li>
				<li>
					<a class="menu-item" href="/camp/">Лагерь</a>
				</li>
				<li>
					<a class="menu-item" href="/business/">Бизнес</a>
				</li>
				<li>
					<a class="menu-button" href="#contacts">Связаться</a>
				</li>
			</ul>
			<ul class="main-menu--mobile">
				<li>
					<a class="menu-button" href="#contacts">Связаться</a>
				</li>
			</ul>
		</nav>
	</header>