{{ partial "header.html" . }}

<main>

  <h1 class="visually-hidden">Поможем поехать в Китай</h1>

  <div class="notice">
    <img class="notice-icon" src="/assets/images/system/lightning.svg" alt="Иконка">
    <span class="notice-text">
      Скидки до 30 марта
    </span>
  </div>

  <h2 class="index-heading">
    Получите высшее образование в Китае или отправьте ребёнка в летний лагерь
  </h2>

  <section class="cards">

    <a class="card card-text--bottom card--camp" href="/camp/">
      <h3 class="card-title">
        Летний лагерь Ланчжоу
      </h3>
      <p class="card-subtitle">
        Программа для детей 10–14 лет. Набор до 1 апреля
      </p>
    </a>

    <a class="card card-text--center card--grants" href="/grants/">
      <h3 class="card-title">
        Обучение в Китае по гранту
      </h3>
      <p class="card-subtitle">
        100% зачисление в ВУЗ и высокий шанс на грант
      </p>
    </a>
  </section>

  <div class="notice">
    <img class="notice-icon" src="/assets/images/system/lightning.svg" alt="Иконка">
    <span class="notice-subtitle">
      Для бизнеса
    </span>
  </div>

  <h2 class="index-heading">
    Найдём фабрику, договоримся с китайцами, сопроводим в поздке
  </h2>

  <section class="cards">
    <a class="card card-text--bottom card--translator" href="/translator/">
      <h3 class="card-title">
        Бизнес-сопровождение
      </h3>
      <p class="card-subtitle">
        Встреча в аэропорту и переводчик для вашей поездки
      </p>
    </a>

    <a class="card card-text--bottom card--tours" href="/tours/">
      <h3 class="card-title">
        Бизнес-туры в Китай
      </h3>
      <p class="card-subtitle">
        Индивидуальные или групповые поездки на фабрики
      </p>
    </a>

    <a class="card card-text--top card--dental" href="/dental/">
      <h3 class="card-title">
        Оборудование
      </h3>
      <p class="card-subtitle">
        Оборудование для стоматологических клиник
      </p>
    </a>
  </section>

  <div class="contacts-anchor" id="contacts">
  </div>

  <section class="contacts contacts--index">
    <div class="contacts-text">
      <h3 class="contacts-title">Остались вопросы? Свяжитесь с менеджером</h3>
      <span class="contacts-situation">
        ✅ Хотите открыть бизнес?
      </span>
      <span class="contacts-situation">
        ✅ Найти оборудование для шахт?
      </span>
      <span class="contacts-situation">
        ✅ Просто съездить в Китай за покупками?
      </span>
      <span class="contacts-situation">
        Напишите нам – мы знаем всё о Китае и найдём решение вашей задачи.
      </span>
    </div>
    <div class="contacts-buttons">
      <a class="contacts-button" href="https://wa.me/+77476172913">
        <img class="contacts-button-icon" src="/assets/images/system/whatsapp-icon.svg" alt="">
        WhatsApp
      </a>
      <a class="contacts-button" href="https://t.me/alikulovaa">
        <img class="contacts-button-icon" src="/assets/images/system/telegram-icon.svg" alt="">
        Telegram
      </a>
      <a class="contacts-button" href="mailto:mail@haostudy.ru">
        <img class="contacts-button-icon" src="/assets/images/system/email-icon.svg" alt="">
        mail@tochina.kz
      </a>
    </div>
  </section>

</main>

{{ partial "footer.html" . }}