@font-face {
  font-family: 'Suisse';
  src: url("/assets/fonts/suisse.woff2") format("woff2");
  font-weight: 450;
  font-style: normal;
}


:root {
  --title-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Roboto, sans-serif;
  --text-font-family: 'Suisse', 'Helvetica Neue', Helvetica, Roboto, sans-serif;
  --button-font-family: 'Suisse', 'Helvetica Neue', Helvetica, Roboto, sans-serif;

  --bg-color: #ffffff;
  --image-bg-color: #e9eaeb;
  --text-color: #111111;
  --link-color: #912F2C;
  --link-underline-color: #E3CFCF;
  --header-color: #912F2C;
  --text-color: #202020;
}

/* LAYOUT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-font-family);
  color: var(--text-color);
  /*-webkit-font-smoothing: antialiased;*/
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font-family);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* NAVIGATION */

header {
  margin: 4px auto 20px;
}

.header {
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 24px;
  position: relative;
  transition: transform 0.1s ease-out;
}

.header-logo {
  width: 120px;
  height: 120px;
}

.header-textbox {
  opacity: 0.95;
  max-width: 660px;
}

.header-link {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 2px;
  color: #ffffff;
  border-bottom: none;
  line-height: 110%;
}

.header-description {
  font-size: 16px;
  display: inline-block;
  color: #ffffff;
}

.header-description-mobile {
  display: none;
}

.header-link::before {
  position: absolute;
  content: "";
  inset: 0;
}

.header:hover {
  transform: scale(1.01);
}

/*  menu  */

.menu-wrapper {
  overflow: hidden;
}

.top-menu {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding-bottom: 20px;
  margin-bottom: -20px;
  mask-image: linear-gradient(90deg,
      transparent 0, rgba(0, 0, 0, .25) 2px,
      #000 2px,
      #000 calc(100% - 18px),
      rgba(0, 0, 0, .25) calc(100% - 9px),
      transparent);
}

.menu {
  list-style: none;
  display: flex;
  font-size: 15.5px;
  font-weight: 500;
  max-width: 800px;
  margin: 12px 0 0;
}

.menu-item {
  display: block;
  word-wrap: nowrap;
  text-decoration: none;
  color: var(--text-color);
  padding: 2px 6px;
  border-radius: 8px;
  background-color: var(--bg-color);
}

.menu-item:hover {
  color: var(--link-color);
}

.menu-item--current {
  color: var(--link-color);
  cursor: default;
  background-color: #F2E6E6;
}

/*aside*/

aside {
  /*  margin: 40px 0;*/
}

.menu-section {
  /*    background-color: lightgray;*/
  margin: 0 0 24px 0;
}

.menu-section-title {
  font-weight: bold;
  /*  color: gray;*/
  font-size: 14px;
  margin: 4px 0;
}

.aside-menu {
  list-style: none;
}

.aside-menu-item {
  font-size: 14px;
  display: block;
  padding: 6px 0;
  color: #444444;
  border-bottom: 1px solid #E3E3E3;
}

.aside-menu-item:hover {
  color: var(--link-color);
}

.aside-menu-item.active {
  color: var(--link-color);
  font-weight: bold;
}



.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  margin-bottom: 8px;
  color: gray;
  font-size: 14px;
  margin-left: 1px;
}

.breadcrumbs-item {
  color: gray;
}

.breadcrumbs-item:hover {
  color: var(--link-color);
}



.page-title {
  font-size: 34px;
  line-height: 120%;
  margin-bottom: 12px;
}

.pages-list {
  list-style: none;
}

.pages-list-item {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 140%;
}

.pages-list-link {
  border-bottom: 1px solid var(--link-underline-color);

}

.pages-list-item:hover {
  filter: brightness(0.9);
}

.page p {
  font-size: 17px;
  line-height: 150%;
  margin: 0 0 12px;
}

.page .page-lead {
  font-size: 19px;
  line-height: 140%;
  font-weight: 500;
}

.page h2 {
  font-size: 24px;
  line-height: 130%;
  margin: 32px 0 12px;
}

.page-title+h2 {
  margin-top: 0;
}

.page h3 {
  font-size: 20px;
  line-height: 132%;
  margin: 16px 0 12px;
}

.page a {
  color: var(--link-color);
  border-bottom: 1px solid var(--link-underline-color);
}

.page a:hover {
  color: #6B2B26;
  border-bottom: 1px solid var(--link-underline-color);
}

.page img {
  margin: 24px 0;
}

.page ul {
  margin: 0 0 16px 14px;
  padding: 0;
}

.page ol {
  margin: 0 0 16px 20px;
  padding: 0;
}

.page li {
  margin: 6px 0;
  line-height: 150%;
  font-size: 16px;
}

.page-buttons {
  margin: 20px 0;
}

.page-buttons a {
  border-bottom-color: lightgray;
}

.page-button {
  display: block;
  padding: 20px 24px;
  margin: 12px 0;
  font-size: 20px;
  font-weight: 500;
  background-color: #F1F1F5;
  border-radius: 12px;
  ;
  border: 1px solid #ECECEC;
}

.page-informer {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 16px 20px;
  margin-bottom: 20px;
}


hr {
  opacity: 0.2;
  margin: 16px 0 20px;
}

h2+hr {
  margin: 0;
}

table {
  margin: 16px 0 24px;
  font-size: 15px;
  line-height: 140%;
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

table+h3 {
  margin: 40px;
}






.feedback-input {
  background-color: #F4F4F4;
  font-size: 16px;
  padding: 6px 8px 8px;
  margin: 4px 0;
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  max-width: 690px;
}

.feedback-button {
  padding: 10px 20px 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--link-color);
  color: white;
  cursor: pointer;
}

.feedback-button:hover {
  filter: brightness(1.2);
}


/* homepage */

.cards-grid {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(3, [col] 1fr);
  margin: 20px 0;
}

.card {
  display: flex;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  padding: 12px 14px;
  text-decoration: none;
  background-color: #F1F1F5;
  border: 1px solid #ececec;
  height: 90px;
  transition: transform 0.1s ease-out;
}

.card-title {
  font-size: 15px;
  font-weight: 500;
  color: #111111;
}

.card-img {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

@media screen and (max-width: 520px) {
  .cards-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .card-title {
    font-size: 14px;
    line-height: 120%;
  }
}

.card:hover {
  transform: scale(1.01);
}

.card:hover .card-title {
  color: var(--link-color);
}

.home-banner {
  display: flex;
  /* flex-direction: column; */
  text-decoration: none;
  color: #222222;
  border-radius: 16px;
  overflow: hidden;
  background-color: #F1F1F5;
  border: 1px solid #ececec;
  padding: 20px 36px 24px;
  align-items: center;
  margin: 0 0 20px 0;
  transition: transform 0.1s ease-out;
}

.home-banner-text {
  flex-grow: 1;
}

.home-banner-title {
  font-size: 1.6rem;
  margin: 0 0 4px 0;
  /*    color: var(--link-color);*/
}

.home-banner-description {
  font-size: 15px;
  margin: 0;
}

.home-banner-img {
  width: 100px;
  height: 100px;
}

.home-banner:hover {
  transform: scale(1.01);
}

.home-banner:hover .home-banner-title,
.home-banner:hover .home-banner-description {
  color: var(--link-color);
}

@media screen and (max-width: 520px) {
  .home-banner {
    padding: 16px;
  }

  .home-banner-title {
    font-size: 1.3rem;
  }

  .home-banner-description {
    font-size: 14px;
  }

  .home-banner-img {
    width: 80px;
    height: 80px;
  }
}


.gos-banners-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
  gap: 14px;
  margin: 20px 0;
}

.gos-banner-img {
  padding: 0;
  border: 1px solid lightgrey;
  border-radius: 12px;
}

@media screen and (max-width: 480px) {
  .gos-banners-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.section--air {
  margin: 30px 0;
}

.section-title {
  font-size: 22px;
  margin: 20px 0 20px;
}

.all-posts-link {
  color: var(--text-color);
  /* border-bottom: 1px solid #DFDFDF; */
  display: flex;
}

.all-posts-link:hover {
  color: var(--link-color);
  /* border-bottom: 1px solid var(--link-underline-color); */
}

/*  POSTS  */

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post {
  width: calc(50% - 10px);
  position: relative;
  border-radius: 16px;
}

@media (max-width: 620px) {
  .posts {
    display: grid;
    gap: 20px;
  }

  .post {
    width: 100%;
  }
}

.post-image-wrapper {
  max-height: 340px;
  border: 1px solid lightgrey;
  /* border-radius: 4%; */
  background-color: #F1F1F5;
  margin-bottom: 8px;
  display: flex;
}

.post-image {
  width: 100%;
  object-fit: cover;
}

.post-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.post-link {
  color: var(--text-color);
  border-bottom: 1px solid #DFDFDF;
}

.post-link:hover {
  color: var(--link-color);
  border-bottom: 1px solid var(--link-underline-color);
}

.post-link::before {
  position: absolute;
  content: "";
  inset: 0;
}

.post-date {
  display: block;
  font-size: 0.8rem;
  color: #777;
  letter-spacing: 0.4px;
}

/* -------------- */

.contacts-block {
  padding: 16px;
  background-color: #F1F1F5;
  border-radius: 16px;
}

#gosuslugi {
  margin: 40px 0;
}



/* eye */

.bvi-floating-button {
  position: fixed;
  top: 60px;
  right: 12px;
  width: 50px;
  height: 50px;
  background-color: #111111;
  border: 1px solid #D3D3D3;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.menu-floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #111111;
  border: 1px solid #D3D3D3;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.floating-button-img {
  width: 70%;
  height: 70%;
}

@media screen and (max-width: 860px) {
  .bvi-floating-button {
    display: none;
  }
}

@media screen and (min-width: 860px) {
  .menu-floating-button {
    display: none;
  }
}



.gallery {
  margin-bottom: 8px;
}





.mobile-menu-wrapper {
  padding: 32px 16px;
}


.social-icons {
  display: flex;
  gap: 8px;
  margin: 0 0 12px 0;
}

.social-icon {
  width: 28px;
  color: red;
  opacity: 0.7;
  border-radius: 6px;
}

.social-icon:hover {
  opacity: 1;
}

footer {
  margin: 120px auto 20px;
  max-width: 1024px;
  font-size: 14px;
}




@media (max-width: 860px) {
  body {
    margin: 0 16px;
  }

  .grid {
    grid-template-columns: none;
  }

  .header-link {
    font-size: 18px;
  }

  .header-description {
    display: none;
  }

  .header-description-mobile {
    font-size: 16px;
    display: inline-block;
    color: #ffffff;
  }

  aside {
    display: none;
  }
}


blockquote {
  color: #66539B;
  font-size: 40px;
  padding: 10px 20px;
  font-family: Verdana, sans-serif;
}


.teacher-card {
  display: flex;
  align-items: center;
  /* background-color: #F1F1F5; */
  /* border-radius: 16px; */
  margin-bottom: 10px;
  padding: 10px 0 20px;
  border-bottom: 1px solid lightgray;
}

.teacher-card img {
  margin: 0;
  border-radius: 12px;
  max-width: 202px;
  background-color: #f0f0f0;
  /* border: 1px solid lightgray; */
}

@media screen and (max-width: 860px) {
  .teacher-card img {
    max-width: 120px;
  }
}


.teacher-card--text {
  margin: 0 20px;
}

.teacher-card--name {
  font-size: 19px !important;
  margin: 4px 0 !important;
}
