{{ partial "header.html" . }}

<main class="page-width">

  <h1 class="visually-hidden">Обучение и работа в Китае</h1>

  <div class="notice">
    <img class="notice-icon" src="/assets/images/lightning.svg" alt="Иконка">
    <span class="notice-text">
      Для бизнеса
    </span>
  </div>

  <h2 class="index-heading">
    Найдём фабрику, договоримся с китайцами, сопроводим в поздке
  </h2>

  <div style="background-color: #F5F5F5; padding: 32px 20px 2px 20px; border-radius: 24px; text-align: center;">
    <p class="page-lead">
      Свяжитесь с нами и расскажите о вашей задаче.
    </p>
  </div>



  <div class="contacts-anchor" id="contacts">
  </div>

  <section class="contacts contacts--index">
    <div class="contacts-text">
      <h3 class="contacts-title">Остались вопросы? Свяжитесь с менеджером</h3>
      <span class="contacts-situation">
        ✅ Хотите открыть бизнес?
      </span>
      <span class="contacts-situation">
        ✅ Найти оборудование для шахт?
      </span>
      <span class="contacts-situation">
        ✅ Просто съездить в Китай за покупками?
      </span>
      <span class="contacts-situation">
        Напишите нам – мы знаем всё о Китае и найдём решение вашей задачи.
      </span>
    </div>
    <div class="contacts-buttons">
      <a class="contacts-button" href="https://wa.me/+77476172913">
        <img class="contacts-button-icon" src="/assets/images/whatsapp-icon.svg" alt="">
        WhatsApp
      </a>
      <a class="contacts-button" href="https://t.me/alikulovaa">
        <img class="contacts-button-icon" src="/assets/images/telegram-icon.svg" alt="">
        Telegram
      </a>
      <a class="contacts-button" href="mailto:mail@haostudy.me">
        <img class="contacts-button-icon" src="/assets/images/email-icon.svg" alt="">
        mail@haostudy.me
      </a>
    </div>
  </section>

</main>

{{ partial "footer.html" . }}